.navbar {
    padding: .5rem 4rem;
}
.navbar img {
    margin-right: 2rem;
}
.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card {
    width: 200px;
    margin: 10px;
}